server:
  port: 8081

spring:
  data:
    mongodb:
      uri: ${MONGODB_URL:mongodb://root:pass123@localhost:27017/api-mongodb?authSource=admin}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_URL:localhost:29092}
    consumer:
      group-id: ${KAFKA_GROUP_ID:git-api-group}
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    topics:
      git-credentials: ${KAFKA_GIT_CREDENTIALS_TOPIC:git-credentials}
    reactor:
      poll-timeout: 1000
  reactor:
    schedulers:
      bounded-elastic:
        thread-cap: 3
        queue-size: 50
        ttl: 30s

resilience4j:
  circuitbreaker:
    instances:
      git-repository-loader:
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 4
        recordExceptions:
          - com.damian34.gitreader.infrastructure.exception.GitConnectionException
  retry:
    instances:
      git-repository-loader:
        maxAttempts: 5
        waitDuration: 30s
        retryExceptions:
          - com.damian34.gitreader.infrastructure.exception.GitConnectionException

jgit:
  temp-root-folder: ${TEMP_ROOT_FOLDER:tmp_jgit_repositories}
encryption:
  secret-key: ${ENCRYPTION_SECRET_KEY:S3cur3AndL0ngEncrypTionKey2025!!}

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
