server:
  port: 8082

spring:
  data:
    mongodb:
      uri: ${MONGODB_URL:mongodb://root:pass123@localhost:27017/api-mongodb?authSource=admin}
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_URL:localhost:29092}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      retries: 3
      acks: all
    topics:
      git-credentials: ${KAFKA_GIT_CREDENTIALS_TOPIC:git-credentials}

springdoc:
  api-docs-path: /api-docs
  swagger-ui-path: /swagger-ui.html

encryption:
  secret-key: ${ENCRYPTION_SECRET_KEY:S3cur3AndL0ngEncrypTionKey2025!!}

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always